* {
  font-family: 'Roboto', 'NotoSansKR', sans-serif;
}

body {
  font-family: 'Roboto', 'NotoSansKR', sans-serif;
  font-weight: 400;
}

.left { float: left }
.right { float: right }
.bold { font-weight: bold }

$trainee:            #d3d3d3;
$private:            #bdc3c7;
$private-first:      #1abc9c;
$corporal:           #3d8cd5;
$sergeant:           #34495e;
$private-first-broken: darken($private-first, 10%);
$corporal-borken:      darken($corporal, 15%);
$sergeant-broken:      darken($sergeant, 15%);

.rank-human {
  background-color: $trainee;
}
.rank-trainee {
  background-color: $trainee;
}
.rank-private {
  background-color: $private;
}
.rank-private-first {
  background-color: $private-first;
  &.broken {
    background-color: $private-first-broken;
    animation-duration: 3s !important;
  }
}
.rank-corporal {
  background-color: $corporal;
  &.broken {
    background-color: $corporal-borken;
    animation-duration: 2.5s !important;
  }
}
.rank-sergeant {
  background-color: $sergeant;
  &.broken {
    background-color: $sergeant-broken;
    animation-duration: 1.5s !important;
  }
}
.rank-fulfilled { 
  background-image: linear-gradient(90deg, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
}

.rank-text-human {
  color: $trainee;
}
.rank-text-trainee {
  color: $trainee;
}
.rank-text-private {
  color: $private;
}
.rank-text-private-first { 
  color: $private-first;
  &.broken {
    color: $private-first-broken;
  }
}
.rank-text-corporal {
  color: $corporal;
  &.broken {
    color: $corporal-borken;
  }
}
.rank-text-sergeant {
  color: $sergeant;
  &.broken {
    color: $sergeant-broken;
  }
}

.blur {
  filter: blur(5px);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 0.25rem solid rgba(202, 202, 202, 0.3);
  border-top-color: #1abc9c;
  margin-top: 6px;
  animation: spin 1s infinite linear;

  &--double {
    border-style: double;
    border-width: .5rem;
  }
}

#welcome-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4.5em;
  opacity: 1;
  transition: opacity .4s ease-in;

  &.closing {
    opacity: 0;
  }

  &.closed {
    opacity: 0;
    display: none;
  }

  #welcome {
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
    display: flex;
    width: 512px;
    height: 256px;
    line-height: 256px;
    text-align: center;

    .title {
      flex: 1 1 0;
      color: transparent;
      user-select: none;

      & > strong {
        font-weight: normal;
      }
    }

    .date {
      flex: 1 1 0;
      font-weight: lighter;

      & > strong {
        font-weight: normal;
      }
    }
  }
}

#info-pane {
  .panel-body {
    display: flex;
    line-height: 21px;
    
    .name-info {
      margin-right: 64px;

      .name {
        font-size: 1.2em;
        color: #444;
      }

      .rank {
        font-size: 0.9em;
        margin-left: 0.5em;
      }

      .dischargable {
        color: #189dd1;
      }

      .not-dischargable {
        color: #e76b00;
      }
    }

    .date-info {
      font-size: 0.9em;

      .dday {
        .hex {
          display: inline-block;
          color: white;
          padding: 2px 5px;
        }
    
        .percentage {
          margin-left: 0.5em;
        }
      }
    }
  }
}

#people-table {
  td, th {
    text-align: right;
  }

  thead {
    font-size: 0.9em;
    letter-spacing: 1px;
  }

  th {
    &.no { width: 20px; }
    &.name { min-width: 55px; width: 65px; }
    &.rank { min-width: 95px; width: 100px; }
    &.date-start,
    &.date-transfer,
    &.date-end {
      min-width: 100px;
      width: 105px;
    }
    &.days-past,
    &.days-left {
      width: 175px;
    }
  }

  tr.me {
    font-weight: bold;
    color: #444;
  }

  .progress {
    margin-bottom: 0;

    .text {
      font-size: 10px;
      line-height: 18px;

      &.outside {
        float: left;
        color: rgb(10, 10, 10);
        margin: 0 0 0 5px;
      }
  
      &.inside {
        float: right;
        color: rgb(255, 255, 255);
        margin: 0 5px 0 0;
      }
    }
  }
}

#randomChoiceModal {
  display: none;

  .modal-header, .modal-body, .modal-footer {
    padding: 10px;
  }

  .modal-dialog {
    max-width: 550px;
  }

  .modal-body {
    height: 460px;
  }

  .modal-header h4 {
    font-weight: 600;
    color: #525252;
  }

  .random {
    &.root {
      display: flex;
      width: 100%;
      height: 450px;

      & > div {
        flex: 1;

        &:nth-child(2) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex: 0.1;
          text-align: center;
        }
      }
    }

    .title {
      font-weight: 600;
      font-size: .9em;
      letter-spacing: -.05rem;
      color: darken(#8e8e8e, 10%);
      margin: 0;
      margin-bottom: 5px;
    }

    &.people {
      &.list {
        overflow-y: scroll;
        margin: 0;
        padding: 0;
        list-style: none;
        list-style-image: none;
        border-top: 1px #bbbbbb solid;
        border-bottom: 1px #bbbbbb solid;
        height: 400px;
      }

      &.options {
        margin-top: 5px;
        text-align: right;

        label {
          color: darken(#8e8e8e, 10%);
          font-weight: 500;
          margin-right: 5px;
        }

        input {
          display: inline-block;
          max-width: 65px;
          padding: 0;
          height: 18px;
          padding-top: 1px;
          font-size: 1.25rem;
          line-height: 18px;
          border: none;
          border-bottom: 1px #dadada solid;
          outline: none;
        }

        .separator {
          display: inline-block;
          color: #f5f5f5;
          margin: 0 5px;
          font-size: 1.5rem;
          vertical-align: middle;
        }
      }

      &.item {
        label {
          width: 100%;
          cursor: pointer;
        }

        label > span {
          & > strong {
            margin-right: 3px;
            font-weight: 600;
            letter-spacing: -.3px;
          }

          & > em {
            font-style: normal;
            float: right;
            font-size: 11px;
            line-height: 25px;
            margin-right: 10px;
            color: #e2e2e2;
          }
        }

        &::after {
          content: '';
          display: block;
          margin-left: 20px;
          height: 1px;
          background: #efefef;
        }

        &:last-child {
          &::after { height: 0; display: none; }
        }
      }

      &.pick {
        label {
          width: 100%;
          height: 25px;
        }

        span { line-height: 30px; display: inline-block; }

        span.number {
          width: 20px;
          font-weight: 600;
          color: lighten(#e24730, 5%);
          letter-spacing: -1px;
        }

        span.rank {
          margin-right: 3px;
          font-weight: 600;
          letter-spacing: -0.3px;
        }

        span.weight {
          font-style: normal;
          float: right;
          font-size: 11px;
          line-height: 30px;
          margin-right: 10px;
          color: #e2e2e2;
          font-weight: 100;
          letter-spacing: -.5px;
        }

        &::after {
          content: '';
          display: block;
          margin-left: 20px;
          height: 1px;
          background: #efefef;
        }
      }

      &.choice {
        $choice-green: #1abc9c;
        $choice-blue: #5677fc;
        $choice-bluedark: #3b50ce;

        position: relative;
        margin: 0;
        top: 10px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        appearance: none;
        outline: none;

        &:before {
          transition: all .3s ease-in-out;
          content: '';
          position: absolute;
          left: 0;
          z-index: 1;
          width: 1.1rem;
          height: 1.1rem;
          border: 2px solid #f2f2f2;
        }

        &:checked {
          &:before {
            transform: rotate(-45deg);
            height: .5rem;
            border-color: $choice-green;
            border-top-style: none;
            border-right-style: none;
          }
        }

        &:after {
          content: '';
          position: absolute;
          left: 0;
          width: 1.1rem;
          height: 1.1rem;
          background: #fff;
          cursor: pointer;
        }
      }
    }
  }
}
